<a href="https://colab.research.google.com/github/Brandonc001/StatArb/blob/main/0PT10N5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.90-py2.py3-none-any.whl (29 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.4 MB/s
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.3.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.90

In [ ]:
import yfinance as yf
import itertools
from itertools import combinations, permutations
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt

In [ ]:
spy_tick = yf.Ticker("spy")
nq = yf.download('NQ=F', start="2001-01-01")
es = yf.download('ES=F', start="2001-01-01")
spy = yf.download('SPY', start="2001-01-01")
qqq = yf.download('qqq', start="2001-01-01")

nq['diff'] = (nq['High'] - nq['Low'])*20
data = pd.DataFrame([nq['Adj Close'], es['Adj Close'], spy['Adj Close'], qqq['Adj Close']]).T

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
stock = spy_tick.history(start="2022-06-02", interval="1d")['Close'][-1]

call = spy_tick.option_chain(date='2022-12-23').calls[{'strike', 'bid', 'ask', 'volume'}]
call['mid_call'] = (call['bid']+call['ask'])/2
put = spy_tick.option_chain(date='2022-12-23').puts[{'strike', 'bid', 'ask', 'volume'}]
put['mid_put'] = (put['bid']+put['ask'])/2
opt =  pd.merge(put, call, left_on='strike', right_on='strike')
#opt['par1'] = opt['mid_x'] + stock
#opt['par2'] = opt['mid_y']+ opt['strike']
opt['par'] = opt['strike']-stock+opt['mid_call']-opt['mid_put']
opt = opt[opt['volume_x']>10.0]
opt = opt[opt['volume_y']>10.0]
opt = opt.sort_values('par', ascending=False)
opt.head()
put.iloc[35:45].head(10)

     ask  strike   bid   volume  mid_put
35  0.21   363.0  0.20    958.0    0.205
36  0.25   364.0  0.24   1370.0    0.245
37  0.27   365.0  0.26  52567.0    0.265
38  0.32   366.0  0.31   1290.0    0.315
39  0.37   367.0  0.36   1389.0    0.365
40  0.43   368.0  0.42   1582.0    0.425
41  0.49   369.0  0.48   1274.0    0.485
42  0.57   370.0  0.56  10713.0    0.565
43  0.67   371.0  0.66  23958.0    0.665
44  0.81   372.0  0.80   3472.0    0.805

In [ ]:
opt.head()

,ask_x,strike,bid_x,volume_x,mid_put,ask_y,bid_y,volume_y,mid_call,par
42,1.96,378.0,1.95,3853.0,1.955,7.61,7.57,5454.0,7.590,-0.240
35,0.85,372.5,0.84,1802.0,0.845,12.03,11.89,41.0,11.960,-0.260
32,0.57,370.0,0.56,10713.0,0.565,14.26,14.10,1135.0,14.180,-0.260
46,3.38,382.0,3.36,11177.0,3.370,4.99,4.97,11744.0,4.980,-0.265
58,9.54,392.0,9.40,576.0,9.470,1.07,1.06,19778.0,1.065,-0.280

In [ ]:
['SPY','MSFT','MMM','AOS','ABT','ABBV','ABMD','ACN','ATVI','ADM','ADBE','AAP','AMD','AES','AFL','A','APD','AKAM','ALB','ALK',
'ARE','ALGN','ALLE','LNT','ALL','GOOG']#,'MO','AMZN']#,'AMCR','AEE','AAL','AEP','AXP','AIG','AMT','AWK','AMP','ABC','AME',
#'AMGN','APH','ADI','ANSS','ANTM','AON','APA','AAPL','AMAT']#,'APTV','ANET','AJG','AIZ','T','ATO','ADSK','ADP','AZO','AVB','AVY','BKR','BLL','BAC','BBWI',
#'BAX','BDX','BBY','BIO','TECH','BIIB','BLK','BK','BA','BKNG','BWA','BXP','BSX','BMY','AVGO','BR','BRO','CHRW','CDNS','CZR','CPB','COF','CAH','KMX','CCL',
#'CTLT','CAT','CBOE','CBRE','CDW','CE','CNC','CNP','CERN','CF','CRL','SCHW','CHTR','CVX','CMG','CB','CHD','CAH','KMX','CCL']

In [ ]:
data = yf.download(tickers="AAPL SPY TSLA MSFT", start='2020-01-01')['Adj Close']
#yf.option_chain('AAPL',date='2022-12-23').calls[{'strike', 'bid', 'ask', 'volume'}]
#spy = yf.download('spy', start='2020-01-01')
spy = yf.Ticker("spy")
tsla = yf.Ticker("tsla")
aapl = yf.Ticker("aapl")
msft = yf.Ticker("msft")
adbe = yf.Ticker("adbe")
amd = yf.Ticker("amd")
goog = yf.Ticker("goog")
amzn = yf.Ticker("amzn")
amgn = yf.Ticker("amgn")
qqq = yf.Ticker("qqq")
ticks = [spy, tsla, aapl, msft, adbe, amd, goog, amzn, amgn, qqq]

[*********************100%***********************]  4 of 4 completed

In [ ]:
### strike - stock + call - put

In [ ]:
sets = {}
for x in ticks:
    stock = x.history(start="2022-06-02", interval="1d")['Close'][-1]
    call = x.option_chain(date='2022-12-23').calls[{'strike', 'bid', 'ask', 'volume'}]
    call['mid_x'] = (call['bid']+call['ask'])/2
    put = x.option_chain(date='2022-12-23').puts[{'strike', 'bid', 'ask', 'volume'}]
    put['mid_y'] = (put['bid']+put['ask'])/2
    opt =  pd.merge(put, call, left_on='strike', right_on='strike')
    opt['par1'] = opt['mid_x'] + stock
    opt['par2'] = opt['mid_y']+ opt['strike']
    opt['par'] = opt['strike']-stock+opt['mid_x']-opt['mid_y']
    opt = opt[opt['volume_x']>100.0]
    opt = opt[opt['volume_y']>100.0]
    opt = opt.sort_values('par', ascending=False)
    sets[str(x)] = opt[{'volume_x', 'volume_y', 'strike', 'par'}]

In [ ]:
result = pd.concat(sets)
result

                                 volume_x  volume_y       par  strike
yfinance.Ticker object <SPY> 42    3853.0    5454.0 -0.155009   378.0
                             46   11187.0   11744.0 -0.160009   382.0
                             43    3804.0    3790.0 -0.160009   379.0
                             40    2930.0    2044.0 -0.170009   377.0
                             32   10713.0    1135.0 -0.175009   370.0
...                                   ...       ...       ...     ...
yfinance.Ticker object <QQQ> 51     319.0    8007.0 -0.940006   285.0
                             52     140.0     656.0 -0.940006   286.0
                             53     516.0    3816.0 -0.950006   287.0
                             57     374.0    2602.0 -1.020006   290.0
                             68     131.0     414.0 -1.080006   300.0

[154 rows x 4 columns]